@import '~bootstrap/scss/bootstrap';

body {
    background-color: black;
}

header {
    background-color: white;

    div.jumbo {
        height: 25rem;
        background-image: url(../assets/img/jumbotron.jpg);
        margin-bottom: 4rem;
    }

    img {
        width: 115px;
    }

    ul {
        display: flex;
        align-items: center;
        justify-content: end;
        margin-bottom: 0;
        list-style-type: none;

        li {
            font-size: 12px;
            font-weight: 700;
            margin: 0 1rem;
            padding: calc((115px/2) - 10.5px) 0;
            border-bottom: 3px solid transparent;
            text-transform: uppercase;

            &.active {
                color: #0282F9;
                border-bottom: 3px solid #0282F9;
            }
        }
    }
}

footer {
    background-image: url(../assets/img/footer-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    section.top-footer {
        color: white;
        font-size: .7rem;

        h6 {
            margin-top: 3rem;
            margin-bottom: 2rem;
        }

        ul {
            padding-left: 0rem;
            margin-bottom: 2rem;
            list-style-type: none;


            li {
                color: #8f8f8f;
                width: max-content;
            }
        }
    }

    section.bot-footer {
        background-color: #303030;

        button {
            color: white;
            background-color: #303030;
            border-color: #0282F9;
        }

        span {
            color: #0282F9;
            font-weight: 700;
            font-size: 1.5rem;
        }
    }
}